body {
    font-size: 100%;
    margin: 1vw;
}

input, select, textarea {
    font-size: 100%;
}

h1 {
    border-bottom: 1px solid black;
}

#friendSelect {
    margin: 2em;
}

.selectButton {
    display: block;
    padding: 1em;
    width: 100%;
}

.flourish {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.throughLine {
    border: 1px solid black;
    display: block;
    width: 100%;
}

.flourishText {
    font-family: 'Brush Script MT', cursive;
    background: white;
    padding: .5em 1em;
    position: absolute;
}